* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-title {
  text-align: center;
}

.hero {
  height: 40vh;
  background: url("../../1-u-s-dollar-bill-164661.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60%;
  width: 25vw;
}

.hero .budget .budget-title {
  color: yellow;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.hero .budget .budget-value {
  text-align: center;
  font-size: 40px;
  padding: 1.3rem 0;
}

.hero .budget .budget-income {
  background-color: seagreen;
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .budget .budget-income .budget-income-title {
  font-size: 20px;
}

.hero .budget .budget-expenses {
  background-color: tomato;
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .budget .budget-expenses .budget-expenses-title {
  font-size: 20px;
}

.input-values {
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-values .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.input-values .input-wrapper .add-type {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  border: 1px solid #e7e7e7;
}

.input-values .input-wrapper .description {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.input-values .input-wrapper .description .add-description {
  width: 100%;
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 12px 15px;
  border-radius: 5px;
}

.input-values .input-wrapper .value {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.input-values .input-wrapper .value .add-value {
  padding: 12px 15px;
  border: 1px solid #e7e7e7;
  padding: 12px 15px;
  border-radius: 5px;
}

.input-values .input-wrapper .btn {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.input-values .input-wrapper .btn .add-btn {
  font-size: 35px;
  color: #28b9b5;
  border: none;
  background: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.input-values .input-wrapper .btn .add-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.budget-content {
  padding-top: 20px;
}

.budget-content .budget-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.budget-content .budget-wrapper .income-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.budget-content .budget-wrapper .expenses-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
/*# sourceMappingURL=main.css.map */