.item-delete-btn {
  background: transparent;
  border: none;
  margin-left: .5rem;
  color: seagreen;
  font-size: 18px;
  transition: all .1s ease-in;

  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  flex-basis: 5%;

  .add-btn {
    font-size: 35px;
    color: rgb(40, 185, 181);
    border: none;
    background: transparent;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
    }
  }
}
