.budget-content {
  padding-top: 20px;

  .budget-wrapper {
    display: flex;
    justify-content: space-between;

    .income-content {
      flex-basis: 45%;

      .income-title {
        color: seagreen;
        padding-bottom: 2rem;
        text-transform: uppercase;
      }

      .income-list {

        .item {
          display: flex;
          justify-content: space-between;
          padding: .7rem 1rem;

          &:nth-child(odd) {
            border-bottom: 1px solid #a7a4a475;
            border-top: 1px solid #a7a4a475;
          }

          &:nth-child(even) {
            background-color: rgba(0,0,0,.05);
          }

          .item-description {
            color: seagreen;
          }

          .item-value {
            color: seagreen;
          }
        }
      }
    }

    .expenses-content {
      flex-basis: 45%;

      .expenses-title {
        color: tomato;
        text-align: center;
        padding-bottom: 2rem;
      }

      .expenses-list {

        .item {
          display: flex;
          justify-content: space-between;
          padding: .7rem 1rem;

          &:nth-child(odd) {
            border-bottom: 1px solid #a7a4a475;
            border-top: 1px solid #a7a4a475;
          }

          &:nth-child(even) {
            background-color: rgba(0,0,0,.05);
          }

          .item-description {
            color: tomato;
          }

          .item-value {
            color: tomato;
          }
        }
      }
    }
  }
}
