.budget-content {
  padding-top: 20px;

  .budget-wrapper {
    display: flex;

    .income-content {
      flex-basis: 50%;

      .income-title {
        text-align: center;
        color: seagreen;
      }
    }

    .expenses-content {
      flex-basis: 50%;

      .expenses-title {
        color: tomato;
        text-align: center;
      }
    }
  }
}
