.input-values {
  padding: 1rem 0;
  background-color: rgba(0,0,0,.1);

  .input-wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;

    .add-type {
      flex-basis: 5%;
      border: 1px solid rgb(231, 231, 231);
    }

    .description {
      flex-basis: 60%;

      .add-description {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(231, 231, 231);
        padding: 12px 15px;
        border-radius: 5px;

        &:focus {
          outline: none;
         border-color: tomato;
        }
      }
    }

    .value {
      flex-basis: 20%;

      .add-value {
        padding: 12px 15px;
        border: 1px solid rgb(231, 231, 231);
        padding: 12px 15px;
        border-radius: 5px;

        &:focus {
          outline: none;
          border-color: tomato;
        }
      }
    }

    .btn {
      flex-basis: 5%;

      .add-btn {
        font-size: 35px;
        color: rgb(40, 185, 181);
        border: none;
        background: transparent;
        transition: all .3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
